@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN W3", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.text-accent {
  color: #40E0D0;
} 